extends layout

block content
  .content-container
    form(action="/inventory/category/create" method="POST")
      h1 Create a new category

      .form-input
        label(for="name") Name
        input(type="text", name="name", required=true, placeholder="farming, shooter, platform...", minlength=2, maxlength=18, pattern=/^(\w)+(-*(\w)+)+/ )

      if errors  
        ul.error-box
          for error in errors
            li.error-msg #{error.msg}

      button.form-btn-submit(type="submit") Submit
      a.form-btn-cancel(href="/inventory") Cancel