extends layout

block content
  h1= title
  p Welcome to #{title}
  ul
    li
      a(href="/inventory/game/123") Game 123
      
    li
      a(href="/inventory/games") All Games

    li
      a(href="/") Home
