extends layout

block content
  h1= title
  p Welcome to #{title}
  ul
    li
      a(href="/inventory/game/123") Game 123
    li
      a(href="/inventory/games") All Games
    li
      a(href="/") Home
    li
      a(href="/inventory/game/create") Create Game
    li
      a(href="/inventory/game/123/update") Update Game
    li
      a(href="/inventory/game/123") Specific Game Page
