@import ./global

nav
  display: flex
  align-items: center
  justify-content: center
  padding: 20px 50px
  width: 100%
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px

  background-color: #2b3188
  background-repeat: repeat-x
  background-size: 1000px
  background-position: 50% 89%
  background-image: url("../images/mario_bg2.png")

  @media screen and ( max-width: 1000px )
    background-size: 700px

  @media screen and ( max-width: 700px )
    background-size: 500px
    
  @media screen and ( max-width: 500px )
    background-size: 300px
    
  
  a
    transition: letter-spacing .4s
    font-family: 'Press Start 2P', monospace
    font-size: 22px
    letter-spacing: 4px
    color: $primary
    text-shadow: 3px 3px $lighterer

    background-color: $white
    padding: 8px 12px 10px 18px
    border-radius: 15px
    box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px

    &:hover
      letter-spacing: 10px

.content-container
  display: flex
  flex-direction: column  
  padding: 30px 0 50px
  max-width: 800px

  @media screen and ( max-width: 900px )
    max-width: 500px
  
  @media screen and ( max-width: 520px )
    max-width: 100%

  &.full
    position: relative
    max-width: 100%


.category-container
  position: relative
  flex-shrink: 0
  width: 100%
    

  &::before
    position: absolute
    content: ""
    left: 0
    top: 0
    height: 100%
    width: 40px
    background-image: linear-gradient(to right, $white, transparent)
    z-index: 10

  &::after
    position: absolute
    content: ""
    right: 0
    top: 0
    height: 100%
    width: 50px
    background-image: linear-gradient(to left, $white, transparent)
    z-index: 10



.category-scroller
  display: block
  white-space: nowrap
  overflow-x: scroll
  overflow-y: hidden
  scroll-behavior: smooth
  flex-shrink: 0
  padding: 0 40px 5px

  li
    display: inline-block


  &::-webkit-scrollbar 
    height: 6px
  
  &::-webkit-scrollbar-track
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2)
    -webkit-border-radius: 10px
    border-radius: 10px
 
  &::-webkit-scrollbar-thumb
    -webkit-border-radius: 10px
    border-radius: 10px
    background: $secondary
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1)

  &::-webkit-scrollbar-thumb:window-inactive 
	  background: $secondary

.category-separator
  display: inline-block
  width: 5px
  height: 5px
  border-radius: 50%
  background-color: $lighterer
  margin: 6px 6px 0

.category
  display: inline-block
  padding: 4px 8px
  border-radius: 10px
  border: 2px solid $secondary
  margin: 0 6px 6px

  color: $primary
  font-family: monospace
  text-transform: lowercase

  transition: .2s
  cursor: pointer
  user-select: none

  &.selected, &:not(.category-checkbox-selector):hover
    border-color: $primary
    background-color: $primary
    color: $white
    font-weight: bold
  
  &:active
    filter: brightness(.9)


.cards-container
  display: flex
  align-items: center
  justify-content: center
  flex-wrap: wrap
  max-width: 100%
  margin-top: 40px

  .card
    display: flex
    flex-direction: column
    width: 200px

    background-color: $white
    padding: 15px 20px
    margin: 0 20px 20px
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px
    transition: transform .4s

    &:hover
      transform: scale(1.05)

    img
      width: 100%
      border-radius: 4px
    
    .image
      width: 100%
      height: 250px
      background-color: $dark
      background-size: cover
      background-position: center

    h1
      color: $primary
      font-size: 16px
      margin: 8px 0
      text-align: center

.tags
  display: flex
  flex-wrap: wrap
  align-items: flex-start
  align-content: flex-start
  justify-content: center
  width: 100%
  min-height: 60px

  .tag
    font-family: monospace
    font-size: 10px
    color: $dark
    background-color: $lighter
    border-radius: 10px
    padding: 3px 6px
    margin-bottom: 3px
    margin-right: 3px
    transition: .2s

    &:hover
      background-color: $primary
      color: $white

.empty-category
  display: flex
  flex-direction: column
  align-items: center

  h1
    color: $primary
    font-size: 16px
    margin-bottom: 20px
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px
    padding: 8px 16px
    border-radius: 5px

  button
    color: $white
    font-size: 14px
    padding: 4px 12px
    background-color: $secondary
    border-radius: 5px
    border: none
    cursor: pointer
    margin-top: 15px
    outline: none

.game-container
  display: flex
  justify-content: center
  max-width: 100%
  margin-top: 20px

  .image    
    flex-shrink: 0
    background-color: $white
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px
    background-size: contain
    background-position: center
    background-repeat: no-repeat
    border-radius: 10px
    height: 70vh
    width: 400px
    margin: 0 20px

    img
      visibility: hidden
      width: auto
      height: 70vh

  .game-details-wrapper
    display: flex
    flex-direction: column
    justify-content: space-between

    max-width: 400px
    height: 100%

    .game-details
      display: flex
      flex-direction: column

      h1
        font-family: 'Montserrat', sans-serif
        font-weight: 600
        font-size: 24px
        margin-bottom: 8px
        color: $primary

      .tags
        justify-content: flex-start
        min-height: 50px

        .tag
          font-size: 11px !important

      p
        font-family: 'Montserrat', sans-serif
        font-weight: 400
        font-size: 14px
        line-height: 1.5em
        
        strong
          font-weight: 600
          color: $secondary

    .game-options
      display: flex
      border-top: 1px solid $lighterer
      align-items: center
      justify-content: center

      .option
        color: $secondary
        margin: 8px
        background: none
        border: none
        cursor: pointer
        font: 14px "Lucida Grande", Helvetica, Arial, sans-serif   
        outline: none     

        &:hover
          text-decoration: underline

.amazon-btn
  display: flex
  align-items: center

  align-self: center
  margin-top: 30px
  background: linear-gradient(to bottom,#f7dfa5,#f0c14b)
  padding: 8px 24px
  border: 1px solid
  border-color: #a88734 #9c7e31 #846a29
  border-radius: 3px

  color: $dark
  font-family: 'Montserrat', sans-serif
  font-weight: 400

  transition: filter .4s

  &:hover
    filter: brightness(1.05)

  span
    width: 20px
    height: 20px
    background-size: contain
    background-color: $white
    background-image: url('../images/amazon_icon2.png')
    border-radius: 5px
    margin-right: 8px

form
  display: flex
  flex-direction: column

  border-radius: 5px
  padding: 25px 40px
  width: 500px
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px
  background-color: $white

  h1
    text-align: center
    font-family: 'Montserrat', sans-serif
    font-weight: 600
    font-size: 24px
    margin-bottom: 8px
    color: $primary

  .form-input
    display: flex
    flex-direction: column

    label
      color: $primary
      font-size: 16px
      font-weight: 500
      margin-bottom: 4px


    input, textarea
      background: none
      border: 1px solid $light
      border-radius: 3px
      padding: 4px 8px
      margin-bottom: 20px

      font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
      color: #666

      &::placeholder
        color: $light

      &:active, &:focus
        outline-color: $quaternary

    textarea
      max-width: 100%
      min-width: 100%
      min-height: 80px

  .error-box
    display: flex
    flex-direction: column
    margin-bottom: 20px

    font-weight: 400
    color: $red
    padding-left: 25px


    .error-msg
      line-height: 1.5em
      list-style-type: circle

  .form-btn-submit
    background-color: $secondary
    border: none
    border-radius: 5px
    font-weight: 600
    color: $white
    font-size: 16px
    font-family: 'Montserrat', sans-serif

    margin-top: 20px
    padding: 8px 24px

    cursor: pointer
    transition: filter .4s

    &:hover
      filter: brightness(1.05)

  .form-btn-cancel
    color: $primary
    background: none
    border: none
    font-size: 12px
    margin: 8px 0
    cursor: pointer
    text-align: center

    &:hover
      text-decoration: underline

  h2
    display: flex
    align-items: center
    color: $primary
    font-size: 16px
    font-weight: 500
    margin-bottom: 12px

    em
      font-size: 12px
      color: $quaternary
      filter: brightness(0.9)
      margin-left: 8px

  .category-container
    margin-bottom: 20px

.modal
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%

  display: flex
  align-items: center
  justify-content: center

  opacity: 1

  transition: .5s

  &.hide
    transform: translateX(-100vw)
    opacity: 0

.delete-form
  display: flex
  flex-direction: column
  max-width: 400px
  box-shadow: $darker 0px 4px 70px

  p
    color: #666
    font-family: 'Montserrat', sans-serif
    font-weight: 400
    font-size: 15px
    line-height: 1.5em
    margin-top: 10px

    em
      color: $secondary

  .buttons-container
    display: flex
    justify-content: space-between

    margin-top: 10px
    width: 100%

    .cancel
      background-color: $red

