@import ./global

nav
  display: flex
  align-items: center
  justify-content: center
  padding: 15px 50px
  width: 100%
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px

  font-size: 22px
  letter-spacing: 4px
  
  a
    +text-gradient(0deg, $primary, $tertiary)
    transition: letter-spacing .4s

    &:hover
      letter-spacing: 10px


.action-btns-container
  display: flex
  justify-content: center
  // align-items: center
  margin-bottom: 12px

  
  & > .category:first-child
    margin: 0 20px 0
    position: relative

    &::after
      content: ""
      position: absolute
      top: 0
      right: -16px
      width: 1px
      height: 100%
      background-color: $light

  input 
    background: none
    color: $primary
    margin: 0 0 0 8px
    padding: 4px 8px
    border-radius: 10px
    border: 2px solid $secondary
    outline: none

    &::placeholder
      color: $secondary
      opacity: .5


.category-container
  display: flex
  flex-wrap: wrap
  justify-content: center
  align-items: center

.category
  padding: 4px 8px
  border-radius: 10px
  border: 2px solid $secondary
  margin: 0 6px 6px

  color: $primary
  text-transform: lowercase

  &.selected
    border-color: $primary
    background-color: $primary
    color: $white


.cards-container
  display: flex
  align-items: center
  justify-content: center
  flex-wrap: wrap
  max-width: 100%
  margin-top: 20px

  .card
    display: flex
    flex-direction: column
    width: 200px
    // height: 30px

    padding: 15px 20px
    margin: 0 20px 20px
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px

    img
      width: 100%
      border-radius: 4px
    
    .image
      width: 100%
      height: 250px
      background-color: $dark
      background-size: cover
      background-position: center

    h1
      color: $primary
      font-size: 16px
      margin: 5px 0
      text-align: center
    
    .tags
      display: flex
      flex-wrap: wrap
      align-items: flex-start
      align-content: flex-start
      justify-content: center
      width: 100%
      min-height: 60px

      .tag
        font-family: monospace
        font-size: 10px
        color: $dark
        background-color: $lighterer
        border-radius: 10px
        padding: 3px 6px
        margin-bottom: 3px
        margin-right: 3px
