*, *:before, *:after {
  box-sizing: border-box; }

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none; }

footer, header, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  -webkit-appearance: none;
  border-radius: 0; }

a {
  color: inherit;
  text-decoration: none; }

body {
  background-color: #f6f7fd;
  background-image: url("../images/background.png");
  background-position: bottom left;
  background-size: 350px;
  background-repeat: no-repeat;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh; }

main {
  padding: 30px 0 50px;
  max-width: 800px; }

body {
  background-color: #f6f7fd;
  background-image: url("../images/background.png");
  background-position: bottom left;
  background-size: 350px;
  background-repeat: no-repeat;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh; }

main {
  padding: 30px 0 50px;
  max-width: 800px; }

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 50px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-color: #2b3188;
  background-repeat: repeat-x;
  background-size: 1000px;
  background-position: 50% 89%;
  background-image: url("../images/mario_bg2.png"); }
  nav a {
    transition: letter-spacing .4s;
    font-family: 'Press Start 2P', monospace;
    font-size: 22px;
    letter-spacing: 4px;
    color: #5c94fc;
    text-shadow: 3px 3px #d3d3d3;
    background-color: #f6f7fd;
    padding: 8px 12px 10px 18px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 12px; }
    nav a:hover {
      letter-spacing: 10px; }

.action-btns-container {
  display: flex;
  justify-content: center;
  margin-bottom: 12px; }
  .action-btns-container > .category:first-child {
    margin: 0 20px 0;
    position: relative; }
    .action-btns-container > .category:first-child::after {
      content: "";
      position: absolute;
      top: 0;
      right: -16px;
      width: 1px;
      height: 100%;
      background-color: #c0c0c0; }
  .action-btns-container input {
    background: none;
    color: #5c94fc;
    margin: 0 0 0 8px;
    padding: 4px 8px;
    border-radius: 10px;
    border: 2px solid #75a2f5;
    outline: none; }
    .action-btns-container input::placeholder {
      color: #75a2f5;
      opacity: .5; }

.category-container {
  position: relative; }
  .category-container::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 40px;
    background-image: linear-gradient(to right, #f6f7fd, transparent);
    z-index: 10; }
  .category-container::after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    height: 100%;
    width: 50px;
    background-image: linear-gradient(to left, #f6f7fd, transparent);
    z-index: 10; }

.category-scroller {
  display: block;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  padding: 0 40px 5px; }
  .category-scroller::-webkit-scrollbar {
    height: 6px; }
  .category-scroller::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 10px;
    border-radius: 10px; }
  .category-scroller::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #75a2f5;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1); }
  .category-scroller::-webkit-scrollbar-thumb:window-inactive {
    background: #75a2f5; }

.category {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 10px;
  border: 2px solid #75a2f5;
  margin: 0 6px 6px;
  color: #5c94fc;
  font-family: monospace;
  text-transform: lowercase; }
  .category.selected {
    border-color: #5c94fc;
    background-color: #5c94fc;
    color: #f6f7fd;
    font-weight: bold; }

.cards-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
  margin-top: 40px; }
  .cards-container .card {
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: #f6f7fd;
    padding: 15px 20px;
    margin: 0 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: transform .4s; }
    .cards-container .card:hover {
      transform: scale(1.05); }
    .cards-container .card img {
      width: 100%;
      border-radius: 4px; }
    .cards-container .card .image {
      width: 100%;
      height: 250px;
      background-color: #222222;
      background-size: cover;
      background-position: center; }
    .cards-container .card h1 {
      color: #5c94fc;
      font-size: 16px;
      margin: 8px 0;
      text-align: center; }
    .cards-container .card .tags {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      align-content: flex-start;
      justify-content: center;
      width: 100%;
      min-height: 60px; }
      .cards-container .card .tags .tag {
        font-family: monospace;
        font-size: 10px;
        color: #222222;
        background-color: #e3e3e3;
        border-radius: 10px;
        padding: 3px 6px;
        margin-bottom: 3px;
        margin-right: 3px; }

/*# sourceMappingURL=style.css.map */